body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: "Lato", sans-serif;
    font-style: normal;
}

main {
    background-color: rgb(230, 230, 230);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 90px 0 0 0;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.imageminicio {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.800),
            rgba(0, 0, 0, 0.800)),
        url('./img/IMG-20240823-WA0208.jpg');

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

.efeito {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

.efeito>h1 {
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0,
        "SHRP" 0;
    font-size: 4rem;
    margin: 0;
    animation: surgimentoh1 1000ms;
}

@keyframes surgimentoh1 {
    0% {
        opacity: 0;
        margin-left: 200px;
    }

    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

.efeito>h3 {
    font-weight: lighter;
    margin: 0;
    animation: surgimentoh2 1000ms;
}

@keyframes surgimentoh2 {
    0% {
        opacity: 0;
        margin-left: 200px;
    }

    10% {
        opacity: 0;
        margin-left: 200px;
    }

    100% {
        opacity: 1;
        margin-left: 0px;
    }
}


.cardsPai {
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-top: -50px
}

.asideCard1,
.asideCard2 {
    width: 530px;
    /* height: 420px; */
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    color: rgb(0, 0, 0);
}

.asideCard1.play{
    display: flex;
    animation: cardsAnimation 500ms;
}

.asideCard2.play{
    display: flex;
    animation: cardsAnimation2 500ms;
}

@keyframes cardsAnimation {
    0% {
        opacity: 0;
        margin-top: 200px;
    
    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes cardsAnimation2 {
    0% {
        opacity: 0;
        margin-top: 200px;
    
    }

    20% {
        opacity: 0;
        margin-top: 200px;
    
    }

    100% {
        opacity: 1;
        margin-top: 0px;

    }
}

.tituloAsideCard{
    font-size: 2rem;
    font-weight: bold;
    margin:3rem 2rem 0 2rem;
}

.textoAsideCard{
    margin:1rem 2rem 2rem 2rem;
    font-weight: 100;
}

.part2{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 50px;
    margin: 0 0 3rem 0;
    color: rgb(65, 65, 65);
}

.part2>h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 3rem 2rem 0 2rem;
}

.part2>h3{
    font-weight: 100;
    margin: 0 2rem 2rem 2rem;
}

.part3{
    width: 100%;
    margin: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
}

.part3Pai{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* background-image: url('./img/IMG-20240823-WA0154.jpg'); */
    background-position: center;
    background-size: cover;
    width: 100%;
    background-color: rgb(230, 230, 230);
}

.informacoesfinaisparte4pai {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0;

}

.informacoesfinaisparte4pai>h2 {
    margin: 0;
    padding: 0;
}

.informacoesfinaisparte4paiimg {
    width: 40%;
    height: 500px;
    background-image: url('./img/IMG-20240823-WA0154.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px 0 50px 0;
}

.informacoespart4 {
    width: 50%;
    margin: 0 0 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.informacoespart4>h2 {
    margin: 1rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

input {
    width: 95%;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: none;
    /* Remove as linhas pretas ao redor */
    outline: none;
    /* Remove a borda de foco ao clicar no campo */
}

label {
    margin: 1rem 0 0.2rem 0;
}

button {
    margin: 1rem 0;
    background-color: green;
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 25px;
    border: none;
    /* Remove as linhas pretas ao redor */
    outline: none;
    /* Remove a borda de foco ao clicar no campo */
    cursor: pointer;
    transition: transform 200ms;
}

button:hover {
    transform: scale(1.05);
}

textarea {
    width: 95%;
    resize: none;
    border: none;
    /* Remove as linhas pretas ao redor */
    outline: none;
    /* Remove a borda de foco ao clicar no campo */
    font-family: "Lato", sans-serif;
    font-style: normal;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

/*FOOTER__________________________________________*/
footer {
    background-color: rgb(47, 112, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.conteudofooterpai {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.imgfooter {
    width: 200px;
    height: 200px;
    background-image: url('./img/logosemfundo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 50%;
    margin: 0 0 1rem 0;
    background-color: white;
}

.cardinvisivel {
    margin: 3rem 0;
    color: white;
    font-size: 0.7rem;
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.divisoriafooter {
    width: 3px;
    height: 300px;
    background-color: white;
    margin: 0 10%;
}

.parte2conteudofooter {
    font-size: 0.7rem;
    color: white;
    width: 280px;

}

.finalfooter>h3 {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 100;
}

.iconeWhatsapp {
    position: fixed;
    bottom: 4.5rem;
    right: 0rem;
    display: none;
    border: 20px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: transform 200ms;
    z-index: 1;

}

.iconeWhatsappButton {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    background-image: url('./img/iconespage/whatsapp.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    z-index: 1;
    box-shadow: 0 0 15px black;
}

.iconeWhatsapp:hover {
    transform: scale(1.1);
}

.go-top {
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    display: none;
    border: 20px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: transform 200ms;
    z-index: 1;
}

.buttonTop {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    background-image: url('./img/iconespage/direito.png');
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
    transform: rotate(-90deg);
    z-index: 1;
    box-shadow: 0 0 15px black;
}

.go-top:hover {
    transform: scale(1.1);
}

@media (max-width: 1115px){
    .cardsPai{
        height: 500px;
    }
    .asideCard1{
        width: 420px;
    }
    .asideCard2{
        width: 420px;
    }
}

@media (max-width: 1080px){
    .cardsPai{
        height: 750px;
        align-items: center;
        flex-direction: column;
        margin: 0 0 3rem 0;
    }
    .asideCard1,
    .asideCard2 {
    width: 100%;
    }
    
}

@media (max-width: 814px){
    .cardsPai{
        height: 900px;
    }
}

@media (max-width: 700px){
    .informacoesfinaisparte4paiimg {
        width: unset;
        height: unset;
        background-image: none;
        background-repeat: unset;
        background-size: unset;
        background-position: unset;
        margin: 0;
    }

    .informacoesfinaisparte4pai {
        margin: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .informacoespart4 {
        margin: 0;
        width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .parte4 {
        justify-content: center;
        flex-direction: column;
    }

    label {
        margin: 1rem 0 0 0;
    }

    input {
        width: 100%;
        padding: 0 0 0 0.5rem;
        height: 30px;
    }

    textarea {
        width: 100%;
    }

    .conteudofooterpai {
        width: 90%;
        flex-direction: column;
    }

    .conteudo>h1 {
        margin: 2rem 0 0 0;
    }
}

@media (max-width: 570px){
    .cardsPai{
        height: 1000px;
    }
    .efeito>h1 {
        font-size: 3rem;
    }
}

@media (max-width: 497px){
    .cardsPai{
        width: 100%;
        height: 1100px;
    }
    .part2{
        width: 100%;
        border-radius: 20px;
    }
    .asideCard1,
    .asideCard2 {
        width: 100%;
        border-radius: 20px;
    }
}

@media (max-width: 450px){
    .cardsPai{
        height: 1000px;
    }

}

@media (max-width: 400px){
    .divisoriafooter{
        display: none;
    }
}